.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.cart-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cart-item-image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cart-item-title {
  font-size: large;
  margin-bottom: 10px;
}
.cart-item-price {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}
.cart-item-quantity {
  font-size: large;
  margin-bottom: 10px;
}
.cart-total {
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
} .cart-item-button {
  padding: 10px;
  border-radius: 40%;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.cart-item-button:hover {
  background-color: darkblue;
}
